/* Name: Noah Amman
    Date: 09/17/2025*/

/* I chose my color pallete from coolors.co and the colors are process cyan, lavender blush, china rose, gunmetal, and dark purple. */

/* Styles the navigation bar and footer with a dark background and light text. */
nav,
footer {
    background-color: rgb(28, 2, 33);
    color: rgb(1, 186, 239);
    padding: 1rem;
    text-align: center;
}

/* Styles the links in the navigation bar with color, text-decoration, and margin. */
nav a {
    color: rgb(238, 229, 233);
    text-decoration: none;
    margin: 5px;
}

/* Changes the link color and adds an underline when hovered over. */
nav a:hover {
    text-decoration: underline;
    color: rgb(1, 186, 239);
}

/* General body styles with a font-family, margin, padding, and background-color. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(1, 186, 239);
}

/* Importing the "Shadows Into Light Two" font from Google Fonts */
.shadows-into-light-two-regular {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Styles the main heading with font-color, text-align, margin, border, background-color, and padding. */
h1 {
    color: rgb(238, 229, 233);
    text-align: center;
    margin: 40px 50px 0 50px;
    border: 5px solid rgb(167, 101, 113);
    background-color: rgb(19, 46, 50);
    padding: 10px 10px;
}

/* Styles the subheading with font-color, text-align, margin, border, background-color, and padding. */
h2 {
    color: rgb(238, 229, 233);
    text-align: center;
    margin: 40px 50px 40px 50px;
    border: 5px solid rgb(28, 2, 33);
    background-color: rgb(19, 46, 50);
    padding: 10px 10px;
}

/* Styles the description paragraph with font-color, font-size, color border, and a background-color. Also add spacing in the margin and padding. */
#description {
    color: rgb(238, 229, 233);
    text-align: center;
    font-size: 2rem;
    border: 5px solid rgb(167, 101, 113);
    background-color: rgb(19, 46, 50);
    margin: 40px 50px 40px 50px;
    padding: 10px 10px;
}

/* Styles the footer to be fixed at the bottom of the page with spacing in the margin-top and padding. */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    padding: 10px 0;
}

/* Styles the links in the footer with color and no text-decoration. */
footer a {
    color: rgb(238, 229, 233);
    text-decoration: none;
}

/* Changes the link color and adds an underline when hovered over. */
footer a:hover {
    text-decoration: underline;
    color: rgb(1, 186, 239);
}

/* Styles the image with an ID of "Shop" that gives it a block display and centers plus gives it a color border and a background-color. */
#Shop {
    display: block;
    margin: 40px auto;
    max-width: 100%;
    height: auto;
    border: 5px solid rgb(167, 101, 113);
    padding: 10px;
    background-color: rgb(28, 2, 33);
}

/* Styles the sections by giving it color on the border and background of the section as well as padding, margin, and font size. */
section {
    display: flow-root;
    margin: 20px 50px 20px 50px;
    padding: 20px 20px;
    border: 5px solid rgb(167, 101, 113);
    background-color: rgb(19, 46, 50);
    color: rgb(238, 229, 233);
    font-size: 2rem;
}

/* Styles the paragraphs with a class of "pforparagraph" */
.pforparagraph {
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}

/* Styles all images with max-width, height, and border. */
img {
    max-width: 25%;
    height: auto;
    border: 5px solid rgb(167, 101, 113);
}

/* Styles images with classes of "left" for alignment. */
.left {
    float: left;
    margin: 0 10px 10px 0;
}

/* Styles images with classes of "right" for alignment. */
.right {
    float: right;
    margin: 0 0 10px 10px;
}